* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-color: white;
  color: black;
}

.classwork {
  display: none;
}

a {
  color: rgb(123, 166, 180);
}
